* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #D95204;
    padding: 2vh;
}

.elementos-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-header {
    color: #f9f9f9;
}

.botoes-header {
    display: flex;
    gap: 5vh;
}

.botão1-dropdown {
    position: relative;
    display: inline-block;
  }

  .conteudo-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
  }

  .botão1-dropdown:hover .conteudo-dropdown {
    display: block;
  }

.botão1-dropdown {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
}

.button-sair {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 3vh;
}

.popups{
    display: none;
    position: fixed;
    z-index: 99; 
    overflow: auto;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    background: rgba(0, 0, 0, 0.7);
    background-color: #1E1E1E;
}
   
.popup{
    background-color: #3B4B59;
    min-height:10vh;
    color: #fff;    
    border-radius: 15px;
    padding: 4vh 0vh;
 }

 .elementos1{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 4vh;
    padding: 20px;
    min-height: 80%;
 }
 
 .caixas{
    display: flex;  
    gap: 5vh;
}

.div-botao {
    width: 85%;
    display: flex;
    
}

#orange {
    background-color: #F2A766;
    cursor: pointer;
    
}

.div-botao button {
    min-width: 80px;
    height: 40px;
    padding: 5px 10px;
    border-radius: 10px;
    border: none;

}

.column{
    flex-direction: column;
}

 input{
    padding: 10px;
    border: none;
    border-radius: 10px;
    background-color: #D1D1D1;
    outline: none;
    width: 42vh;
    cursor: pointer;
 }

 .menor{
    width: 19vh;
 }

 .opcoes{
     background-color:#D1D1D1;
     outline: none;
     padding: 10px 2px;
     border: none;
     border-radius: 10px;
     color: rgba(0, 0, 0, 0.514);
    

 }

.botoes-popups{
    display: flex;
    gap: 5vh;
}


 
.botao-sair{
    background-color: #FF0000;
    color:#FFFFFF;
    padding: 10px;
    border: none;
    width: 18vh;
    border-radius:10px;
}

.botao-pronto{
    background-color: #F2A766;
    color: #FFFFFF;
    padding: 10px;
    border: none;
    width: 20vh;
    margin: 2vh;
    border-radius:10px;
}

h1{
    font-size: 25px;
    color:  #F2A766;
}


