* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Inter', sans-serif;
}

.header {
    background-color: #D95204;
    padding: 2vh;
}

.elementos-header {
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.logo-header {
    color: #f9f9f9;
}

.botoes-header {
    display: flex;
    gap: 5vh;
}

.botão1-dropdown {
    position: relative;
    display: inline-block;
  }

  .conteudo-dropdown {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
    background-color: #f9f9f9;
    border-radius: 5px;
    
  }
  .botão1-dropdown:hover .conteudo-dropdown {
    display: block;
  }

.botão1-dropdown {
    background-color: #f9f9f9;
    padding: 5px;
    border-radius: 5px;
}

.button-sair {
    background-color: red;
    border: none;
    border-radius: 5px;
    padding: 5px;
    padding-inline: 3vh;
}

.popups{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    
}
   

.button-cheio {
}

.popup1{
    background-color: #3B4B59;
 }



