* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: #3B4B59;
}

.conteiner-login{
    background-color: #3B4B59;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 85vh;
}

.elementologin{
    box-shadow: 0px 0px 40px #000000;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 30px;
}

.elementos-1-login{
    background-color: #D95204;
    border-radius: 30px;
}

.elementos-2-login{
    display: flex;
    flex-direction: column;
    padding-inline: 5vh;
    gap: 5vh;
    color: #f9f9f9;
    
}

.img {
}