body {
    background-color: #3B4B59;
}

.container-userlist{
    display: flex;
    justify-content: center;

    margin-top: 3vh;

    margin-top: 3vh;

    align-items: center;
    min-height: 100vh;

}


.elemento-usuario{
    min-width: 100vh;
    background-color: #D95204;
    margin: 5vh;
    padding: 2vh;
    border-radius: 10px;
    color: white;
}
.elemento-desat{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    min-width: 100vh;
    background-color: #D95204;
    border-radius: 10px;
    color: white;
    margin-bottom: 20px;
}


.elemento-usuario-esquerda{
   display: flex;
   flex-direction: column; 
}

.elemento-usuario-direita{
    display: flex;
}

.btn1{
    border: none;
    background: transparent;
}
.btn1 i{
    color: white;
    font-size: 20px;
    margin: 5px;
}

.btn2 {
    border: none;
    background: transparent;
}

.btn2 i{
    color: white;
    font-size: 20px;
    margin: 5px;
}

.butão-adicionar{
    cursor: pointer;
    height: 40px;
    padding: 10px;
    border: solid 2px #D95204;
    background: none;
    border-radius: 5px;
    color: #D95204;
    border: solid 2px #d8e7f5;
    background: none;
    border-radius: 5px;
    color: #f34500;
    margin-bottom: 20px;
}

.buttons-userlist {
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.user-permission{
    display: none;
    min-width: 100vh;
    background-color: #D95204;
    margin: 5vh;
    padding: 2vh;
    color: white;
}
.botoes-permisoes{
    display: flex;
    justify-content: center;

}
.algo{
    box-shadow: 0px 0px 40px #000000;
    border-radius: 10px;
    height: fit-content;
}
.itens{
    max-height: 75vh;
    overflow: scroll;

}
::-webkit-scrollbar{
    background-color: rgba(2, 10, 38, 0);
    width: 5px;
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
  }
  
  ::-webkit-scrollbar-thumb{
    background-color: #D95204;
    border-radius: 5px;
  }
  
  ::-webkit-scrollbar-corner{
    background-color: rgba(255, 249, 249, 0);
    height: 0;
    width: 0;
  
  }
button {
    padding: 10px;
    border-radius: 5px;
    border: none;
   cursor: pointer;
}

